html {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #1a2139;
}

.info {
  max-width: 475px;
  margin: 2em auto;
  text-align: center;
  line-height: 1.5;
}

.info span.red {
  color: #f73a18;
  font-weight: 1000;
}

.info span.blue {
  color: #333e5b;
  font-weight: 1000;
}

.info__button {
  width: 150px;
  height: 25px;
  border: 2px #1a2139 solid;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
}

.info__button:hover {
  text-decoration: underline;
}

.game-field {
  width: 475px;
  height: auto;
  margin: 0 auto;
}

.game-field__tile {
  height: 150px;
  width: 150px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  padding: 15px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.game-field__tile_free {
  opacity: 1;
  transition: 0.2s;
  background-color: #9d9683;
}

.game-field__tile_free:hover {
  opacity: 0.9;
}

.game-field__tile_x-played {
  background-color: #f73a18;
}

.game-field__tile_o-played {
  background-color: #333e5b;
}

.game-log {
  max-width: 475px;
  margin: 2em auto;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.game-log_draw {
  color: #1a2139;
}

.game-log_x-won {
  color: #f73a18;
}

.game-log_o-won {
  color: #333e5b;
}
