$base-color: #1a2139;
$x-color:    #f73a18;
$o-color:    #333e5b;
$tile-color: #9d9683;

html {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: $base-color;
}

.info {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
  line-height: 1.5;

  span {
    &.red {
      color: $x-color;
      font-weight: 1000;
    }

    &.blue {
      color: $o-color;
      font-weight: 1000;
    }
  }
}

.info__button {
  width: 150px;
  height: 25px;
  border: 2px $base-color solid;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  font-size: 17px;

  &:hover {
    text-decoration: underline;
  }
}

.game-field {
  width: 475px;
  height: auto;
  margin: 0 auto;
}

.game-field__tile {
  height: 150px;
  width: 150px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  padding: 15px;
  margin: 3px 3px;
  box-sizing: border-box;
}

.game-field__tile_free {
  opacity: 1;
  transition: 0.2s;
  background-color: $tile-color;

  &:hover {
    opacity: 0.9;
  }
}

.game-field__tile_x-played {
  background-color: $x-color;
}

.game-field__tile_o-played {
  background-color: $o-color;
}

.game-log {
  max-width: 475px;
  margin: 2em auto;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.game-log_draw {
  color: $base-color;
}

.game-log_x-won {
  color: $x-color;
}

.game-log_o-won {
  color: $o-color;
}
